.inclusive-sans-regular {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inclusive-sans-regular-italic {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

h2 {
  display: none;
}

.text {
  color: #cbeef3;
  font-family: "inclusive-sans", "Montserrat";
  margin: 5px;
}

.main-title {
  font-size: 32px;
  font-weight: bold;
  filter: drop-shadow(4px 4px 0px #dd2d4a);
}

.underline {
  text-decoration: underline;
}

h3 {
  font-size: 31pt;
}

.subheader {
  font-size: 20pt;
}

.info_text {
  font-size: 16pt;
  line-height: 40px;
  font-weight: 500;
}

.nav-links {
  padding: 0px;
}

.icon-list {
  padding: 0px;
}

li {
  list-style: none;
}

footer {
  height: 150px;
  margin: 50px 0px 0px 0px;
  display: flex;
  padding: 0px;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  flex-direction: row;
  width: 100%;
}
footer .footer-icons {
  margin-left: 15px;
}
footer .top-button {
  margin-left: auto;
  margin-right: 15px;
}

* {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}

.hidden {
  display: none;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.invisible {
  visibility: hidden;
  transform: translateX(-25px);
}

.fadeIn {
  opacity: 0;
  visibility: hidden;
}

.invisible-still {
  visibility: hidden;
}

.centered {
  text-align: center;
}

.insta-icon:hover .insta-fill {
  fill: #dd2d4a;
}

.insta-icon:hover .insta-line {
  stroke: #880d1e;
}

.git-icon:hover .git-fill {
  fill: #dd2d4a;
}

.git-icon:hover .git-line {
  stroke: #880d1e;
}

.link-icon:hover .link-fill {
  fill: #dd2d4a;
}

.link-icon:hover .link-line {
  fill: #880d1e;
}

body {
  background-color: #880d1e;
}

.button {
  min-width: 70px;
  height: 40px;
  color: #cbeef3;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-weight: 500;
  align-items: center;
  border-radius: 15px;
  background-color: #880d1e;
  border: solid 2px #cbeef3;
  font-family: "Inclusive Sans", sans-serif;
  margin: 5px;
}
.button a {
  color: #dd2d4a;
  text-decoration: none;
}

.button:hover {
  background-color: #cbeef3;
  color: #880d1e;
  cursor: pointer;
  border: solid 2px #dd2d4a;
  box-shadow: 5px 5px 0px #dd2d4a;
  animation: shadow 0.25s forwards;
  z-index: 200;
}
.button:hover a {
  color: #880d1e;
}

@keyframes shadow {
  0% {
    box-shadow: none;
    transform: translateX(0px);
    transform: translateY(0px);
  }
  100% {
    box-shadow: 5px 5px 0px #f26a8d;
    transform: translateX(-5px);
    transform: translateY(-5px);
  }
}
.icon-list {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.desk-top-button {
  display: none;
}

.top-link {
  opacity: 0.5;
  color: #dd2d4a;
  text-decoration: none;
  height: 50px;
  display: flex;
  padding: 0px 10px 0px 10px;
  justify-content: center;
  align-items: center;
  font-family: "Inclusive Sans", sans-serif;
  margin: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
}

.top-link:hover {
  opacity: 1;
  background-color: #880d1e;
  border-color: #dd2d4a;
}

@media (min-width: 1200px) {
  .desk-top-button {
    display: flex;
  }
  .desk-top-button a {
    margin: 50px 50px 100px auto;
  }
}
#skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 20px 0px;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px auto 5px auto;
  width: auto;
}

.icon-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.icon-card {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 150px;
  margin: 0px auto 0px auto;
  align-items: center;
  justify-content: center;
}
.icon-card img {
  max-height: 100px;
  max-width: 100px;
  margin: auto;
}
.icon-card span {
  color: #cbeef3;
  margin-top: auto;
  text-align: center;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #880d1e;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox.active {
  display: flex;
}

.lightbox-content {
  width: 80vw;
}

.lightbox-text {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .lightbox-text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .lightbox-text {
    font-size: 18px;
    line-height: 26px;
  }
}
Header {
  position: sticky;
  height: 100px;
  width: 100px;
  top: 0;
  z-index: 10000;
}

nav {
  position: relative;
  display: flex;
  height: 100px;
  width: 100px;
}

#home-button {
  margin: 10px 10px 10px auto;
}

#logo {
  height: 100px;
  width: auto;
  opacity: 0.2;
  z-index: 1000;
}

.logo-con:hover #logo {
  opacity: 1;
}

.logo-con {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100px;
  margin-right: auto;
  z-index: 500;
}

.menu-con {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 90px;
  left: 60;
  width: 110px;
  height: 200px;
}

.X {
  display: flex;
  z-index: 100;
}

.hamburger-dropdown {
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: inherit;
}
.hamburger-dropdown a {
  text-decoration: none;
}

.open {
  display: flex;
}

.slide-out {
  animation: slide-out 0.25s forwards;
}

.slide-back {
  animation: slide-back 0.25s forwards;
}

@keyframes slide-out {
  0% {
    transform: translateY(-160px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes slide-back {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-160px);
  }
}
@media (min-width: 500px) {
  .menu-con {
    overflow: hidden;
    position: relative;
    flex-direction: row;
    transform: translateY(0px);
    width: 350px;
    height: 60px;
    top: 5px;
    left: 0px;
  }
  .logo-con {
    flex-direction: row;
  }
  .hamburger-dropdown {
    flex-direction: row;
  }
  @keyframes slide-out {
    0% {
      transform: translateX(-320px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes slide-back {
    0% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-320px);
    }
  }
}
#contactTitle {
  margin: 0px 0px 20px 0px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-box {
  background-color: #880d1e;
  border: solid 3px #f26a8d;
  border-radius: 15px;
  color: #cbeef3;
  font-weight: bold;
  padding: 20px;
  field-sizing: content;
  height: auto;
  max-width: 500px;
  overflow: hidden;
  width: 80vw;
  margin: 10px 10px 10px 10px;
}

@media (min-width: 768px) {
  .input-form {
    align-items: baseline;
  }
  .form-box {
    margin: 10px auto 10px 150px;
  }
  #send-button {
    margin: 10px auto 10px 150px;
  }
  #feedback {
    margin: 10px auto 10px 150px;
  }
}
.video-player {
  display: flex;
  border: solid 3px #f26a8d;
  border-radius: 15px;
  aspect-ratio: 16/9;
  width: 90vw;
}

#player-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.video-controls.hidden {
  display: none;
}

.video-controls {
  right: 0;
  left: 0;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  transition: all 0.2s ease;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), black);
  display: flex;
  border-radius: 15px;
}

.video-controls.hide {
  opacity: 0;
  pointer-events: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #dd2d4a;
  cursor: pointer;
}

.fa, .fa-solid {
  color: #dd2d4a;
  font-size: 28px;
  margin-left: 20px;
}

.fa-stop-circle-o {
  margin-right: 20px;
}

.fa-volume-up {
  margin-left: auto;
}

/*********** Baseline, reset styles ***********/
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Removes default focus */
input[type=range]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type=range]::-webkit-slider-runnable-track {
  background-color: #dd2d4a;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #880d1e;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type=range]:focus::-webkit-slider-thumb {
  outline: 3px solid #880d1e;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type=range]::-moz-range-track {
  background-color: #dd2d4a;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type=range]::-moz-range-thumb {
  background-color: #880d1e;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type=range]:focus::-moz-range-thumb {
  outline: 3px solid #880d1e;
  outline-offset: 0.125rem;
}

#thpace-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #880d1e;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #dd2d4a;
  top: 67%;
  left: 46%;
  animation-duration: 13s;
  animation-delay: -42s;
  transform-origin: -14vw 21vh;
  box-shadow: -40vmin 0 5.4437453626vmin currentColor;
}

.background span:nth-child(1) {
  color: #dd2d4a;
  top: 61%;
  left: 25%;
  animation-duration: 24s;
  animation-delay: -14s;
  transform-origin: 8vw -4vh;
  box-shadow: -40vmin 0 5.4680287871vmin currentColor;
}

.background span:nth-child(2) {
  color: #f49cbb;
  top: 51%;
  left: 6%;
  animation-duration: 31s;
  animation-delay: -41s;
  transform-origin: -16vw -23vh;
  box-shadow: -40vmin 0 5.7248384757vmin currentColor;
}

.background span:nth-child(3) {
  color: #f49cbb;
  top: 18%;
  left: 7%;
  animation-duration: 39s;
  animation-delay: -35s;
  transform-origin: -2vw -4vh;
  box-shadow: -40vmin 0 5.8709644114vmin currentColor;
}

.background span:nth-child(4) {
  color: #E45A84;
  top: 66%;
  left: 68%;
  animation-duration: 38s;
  animation-delay: -32s;
  transform-origin: -11vw -4vh;
  box-shadow: -40vmin 0 5.6201451848vmin currentColor;
}

.background span:nth-child(5) {
  color: #E45A84;
  top: 10%;
  left: 67%;
  animation-duration: 25s;
  animation-delay: -1s;
  transform-origin: 24vw 8vh;
  box-shadow: 40vmin 0 5.5836714666vmin currentColor;
}

.background span:nth-child(6) {
  color: #cbeef3;
  top: 1%;
  left: 71%;
  animation-duration: 24s;
  animation-delay: -25s;
  transform-origin: -2vw 0vh;
  box-shadow: 40vmin 0 5.5328779544vmin currentColor;
}

.background span:nth-child(7) {
  color: #E45A84;
  top: 49%;
  left: 80%;
  animation-duration: 22s;
  animation-delay: -50s;
  transform-origin: -24vw -22vh;
  box-shadow: 40vmin 0 5.106131782vmin currentColor;
}

.background span:nth-child(8) {
  color: #E45A84;
  top: 16%;
  left: 39%;
  animation-duration: 17s;
  animation-delay: -34s;
  transform-origin: -12vw 4vh;
  box-shadow: -40vmin 0 5.6892583828vmin currentColor;
}

.background span:nth-child(9) {
  color: #E45A84;
  top: 69%;
  left: 95%;
  animation-duration: 26s;
  animation-delay: -42s;
  transform-origin: -23vw -23vh;
  box-shadow: -40vmin 0 5.7817108186vmin currentColor;
}

.background span:nth-child(10) {
  color: #cbeef3;
  top: 82%;
  left: 47%;
  animation-duration: 23s;
  animation-delay: -44s;
  transform-origin: -12vw 13vh;
  box-shadow: 40vmin 0 5.74935496vmin currentColor;
}

.background span:nth-child(11) {
  color: #FFACAC;
  top: 90%;
  left: 52%;
  animation-duration: 51s;
  animation-delay: -43s;
  transform-origin: 5vw -5vh;
  box-shadow: 40vmin 0 5.2081003176vmin currentColor;
}

.background span:nth-child(12) {
  color: #E45A84;
  top: 51%;
  left: 9%;
  animation-duration: 43s;
  animation-delay: -46s;
  transform-origin: -15vw 8vh;
  box-shadow: -40vmin 0 5.4006122464vmin currentColor;
}

.background span:nth-child(13) {
  color: #FFACAC;
  top: 46%;
  left: 81%;
  animation-duration: 38s;
  animation-delay: -19s;
  transform-origin: -23vw -14vh;
  box-shadow: -40vmin 0 5.950933751vmin currentColor;
}

.background span:nth-child(14) {
  color: #FFACAC;
  top: 12%;
  left: 79%;
  animation-duration: 52s;
  animation-delay: -50s;
  transform-origin: 7vw 15vh;
  box-shadow: -40vmin 0 5.6758198842vmin currentColor;
}

.background span:nth-child(15) {
  color: #FFACAC;
  top: 23%;
  left: 89%;
  animation-duration: 44s;
  animation-delay: -16s;
  transform-origin: 7vw -23vh;
  box-shadow: -40vmin 0 5.4078758753vmin currentColor;
}

.background span:nth-child(16) {
  color: #E45A84;
  top: 83%;
  left: 81%;
  animation-duration: 31s;
  animation-delay: -44s;
  transform-origin: -14vw -22vh;
  box-shadow: 40vmin 0 5.8659612462vmin currentColor;
}

.background span:nth-child(17) {
  color: #E45A84;
  top: 27%;
  left: 95%;
  animation-duration: 34s;
  animation-delay: -24s;
  transform-origin: -7vw 5vh;
  box-shadow: -40vmin 0 5.4921760256vmin currentColor;
}

.background span:nth-child(18) {
  color: #FFACAC;
  top: 66%;
  left: 45%;
  animation-duration: 11s;
  animation-delay: -15s;
  transform-origin: 13vw -21vh;
  box-shadow: -40vmin 0 5.2532379301vmin currentColor;
}

.background span:nth-child(19) {
  color: #E45A84;
  top: 57%;
  left: 87%;
  animation-duration: 49s;
  animation-delay: -48s;
  transform-origin: -13vw 6vh;
  box-shadow: -40vmin 0 5.3020703332vmin currentColor;
}

body.about-page {
  --s: 100px; /* control the size*/
  --c1: #790f21;
  --c2: #6b0513;
  --c3: #50000b;
  --_g: 0 120deg,#0000 0;
  background: conic-gradient(at 83.3333333333% 33.3333333333%, var(--c3) var(--_g)), conic-gradient(from -120deg at 16.6666666667% 33.3333333333%, var(--c2) var(--_g)), conic-gradient(from 120deg at 33.3333333333% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from 120deg at 66.6666666667% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from -180deg at 33.3333333333% 50%, var(--c2) 60deg, var(--c1) var(--_g)), conic-gradient(from 60deg at 66.6666666667% 50%, var(--c1) 60deg, var(--c3) var(--_g)), conic-gradient(from -60deg at 50% 33.3333333333%, var(--c1) 120deg, var(--c2) 0 240deg, var(--c3) 0);
  background-size: calc(var(--s) * 1.7320508076) var(--s);
  background-attachment: fixed;
}